<% content_for :title, _("Make - Field Papers") %>

<%= render partial: "composing_nav" %>

<div class="row">
    <%= form_for :atlas, url: wizard_path, method: :put, html: {class: "six columns"} do |f| %>
    <div class="row">
    <div class="twelve columns">
    <%= f.label :title, _("Atlas Name") %>
    <%= f.text_field :title, class:"u-full-width", placeholder: _("Untitled") %>
    </div></div>

    <div class="row">
    <div class="twelve columns">
    <%= f.label :text, _("Notes (only shown on half-page atlases)") %>
    <%= f.text_area :text, class:"u-full-width" %>
    </div></div>

    <div class="row">
    <div class="twelve columns">
    <%= f.label :private do %>
      <%= f.check_box :private %>
      <span class="label-body"><%= _("Private") %></span>
    <% end %>
    <p class="form-helper"><%= _("(That means it's only accessible to you, if you're logged in, or by direct URL.)") %></p>
    </div></div>

    <%= f.submit _("Next") %>
    <% end %>
</div>


