<% content_for :head do %>

  <style>
    #map {
      height: 500px;
      float: right;
    }

    .field_with_errors {
      background-color: red;
    }
  </style>
<% end %>

<%= render partial: "composing_nav" %>

<div class="row">
  <div class="twelve columns">
  <% if @atlas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atlas.errors.count, "error") %> prohibited this atlas from being saved:</h2>
      <ul>
      <% @atlas.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= form_for :atlas, url: wizard_path, method: :put do |f| %>
    <%= f.text_field :zoom, hidden: true %>
    <%= f.text_field :west, hidden: true %>
    <%= f.text_field :south, hidden: true %>
    <%= f.text_field :east, hidden: true %>
    <%= f.text_field :north, hidden: true %>
    <%= f.text_field :rows, hidden: true %>
    <%= f.text_field :cols, hidden: true %>
    <%= f.select :orientation, options_for_select([["Landscape", "landscape"], ["Portrait", "portrait"]]) %>
    <%= f.select :provider, options_for_select([]) %>
    <%= f.submit "Next" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="map" class="twelve columns"></div>
</div>

<% content_for :foot do %>
<script>

  if (typeof FP != "undefined") FP.tileProviders = <%= Providers.layers.to_json.html_safe %>;

  $(function(){
    FP.map.compose.select({
      selector: 'map',
      initialView: [[<%= params[:lat] %>, <%= params[:lon] %>], <%= params[:zoom] %>]
    });
  });
</script>
<% end %>
