<li class="map-card four columns">
  <a href="<%= atlas_path(atlas) %>" class="map-card-preview static-map">
    <%= map(
      :container_id => "static-map-#{atlas.slug}",
      :center => {
        :latlng => [atlas.latitude, atlas.longitude],
        :zoom => atlas.zoom
      },
      :map_options => {
        :attribution_control => false,
        :zoom_control => false,
        :dragging => false,
        :touchZoom => false,
        :scrollWheelZoom => false,
        :doubleClickZoom => false,
        :boxZoom => false,
        :tap => false,
        :keyboard => false
      },

      :tile_layer => "#{atlas.conform_template(atlas.get_provider_without_overlay)}",
      :attribution => nil,
      :max_zoom => 18,
      :subdomains => ["a", "b", "c"], # should be abcd, but OSM + OpenCycleMap don't include d
      :fitbounds => [[atlas.bbox[1], atlas.bbox[0]],[atlas.bbox[3], atlas.bbox[2]]]
    ) %>
  </a>


  <div class="no-wrap">
    <span class="atlas-status <% if atlas.failed? %>failed<% elsif atlas.incomplete? %>incomplete<% end %>"></span>
    <%= link_to atlas.title, atlas_path(atlas), {:class => "map-card-title embolden"} %><br>
    <span class="map-card-creator small"><%= atlas.creator_name if atlas.creator %>&nbsp;</span><% if atlas.private? %><span class="private"><%= _("private") %></span><% end %>
  </div>

  <div>
    <span class="map-card-pages small"><%= n_("%{count} page", "${count} pages", atlas.atlas_pages) % {count: number_with_delimiter(atlas.atlas_pages)} %>,</span>
    <span class="map-card-created small"><%= link_to _("%{time_period} ago") % { time_period: time_ago_in_words(atlas.created_at) }, atlases_path(month: atlas.created_at.strftime("%Y-%m")) %></span>
  </div>
</li>
