<li class="map-card">
  <%= link_to atlas_path(atlas), {:class=>"map-card-preview"} do %>
    <% if defined? atlas.preview_url and atlas.preview_url %>
      <%= image_tag atlas.preview_url %>
    <% else %>
      <%= image_tag 'http://placehold.it/300x300&text=No%20Image' %>
    <% end %>
  <% end %>

  <div class="no-wrap">
    <%= link_to atlas.title, atlas_path(atlas), {:class=>"map-card-title embolden"} %>
    <span class="map-card-creator small"><%= atlas.creator_name %></span>
  </div>

  <div>
    <% if defined? atlas.atlas_pages %>
      <span class="map-card-pages small"><%= pluralize(atlas.atlas_pages, 'page') %></span>
    <% else %>
      <span class="map-card-pages small"><%= pluralize(0, 'page') %></span>
    <% end %>

    <span class="map-card-created small"><%= time_ago_in_words(atlas.created_at) %> ago</span>
  </div>
</li>
