<div class="row">
  <div class="twelve columns map-container">
    <div id="map" class="map"></div>
    <p class="inline-linkbar">Atlases | <%= link_to "Snapshots", snapshots_path %></p>
  </div>
</div>

<% if @atlases.empty? %>
<p>No atlases.</p>
<% else %>
<%= paginate @atlases %>

<ul class="map-cards row">
  <%= render partial: "atlas", collection: @atlases %>
</ul>

<%= paginate @atlases %>
<% end %>

<script type="text/javascript">
  var atlases = <%= raw(@atlases.to_json) %>
</script>
