<p>Atlases | <%= link_to "Snapshots", snapshots_path %></p>

<div id="map" class="map"></div>

<% if @atlases.empty? %>
<p>No atlases.</p>
<% else %>
<%= paginate @atlases %>

<ul>
  <%= render partial: "atlas", collection: @atlases %>
</ul>

<%= paginate @atlases %>
<% end %>

<script type="text/javascript">
  var atlases = <%= raw(@atlases.to_json) %>
  window.onload = function() {
    var boundingBoxes = FP.map.boundingBoxes('map');
    boundingBoxes.data(atlases);
  }
</script>
