<% content_for :title, _("Atlases - Field Papers") %>

<div class="row">
  <div class="twelve columns map-container">
    <div id="map" class="map"></div>
    <p class="inline-linkbar bottom">
      <%= n_("%{count} Atlas", "%{count} Atlases", @counts) % {count: number_with_delimiter(@counts) } %> | <%= link_to _("Snapshots"), snapshots_path(username: params[:username]) %>
      <%= link_to(
        params[:username] ? _("All Atlases") : _("Your Atlases"),
        atlases_path(params[:username] ? nil : {username: current_user.try(:username)}),
        class: "right" 
      ) if user_signed_in? %>
    </p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <% if @atlases.empty? %>
    <p class="alert"><%= _("No atlases.") %></p>
    <% else %>
    <%= paginate @atlases %>
  </div>
</div>

<ul class="map-cards row">
  <%= render partial: "atlas", collection: @atlases %>
</ul>

<div class="row">
  <div class="twelve columns">
    <%= paginate @atlases %>
  </div>
</div>
<% end %>

<% content_for :foot do %>
  <script>
    $(function(){
      FP.map.boundingBoxes('map').data(<%= raw(@atlases.to_json) %>);
    });
  </script>
<% end %>
