<% content_for :title, _("Atlas - Field Papers") %>

<% if @atlas.incomplete? %>
  <%= render partial: "atlas_incomplete", locals: {atlas: @atlas} %>
<% elsif @atlas.failed? %>
  <%= render partial: "atlas_failed", locals: {atlas: @atlas} %>
<% else %>
  <div class="row pad-bottom">
    <div id="locator-map" class="twelve columns"></div>
    <div class="twelve columns relative">

      <div class="map-overlay top-left stacked">
        <h5 class="overlay-item"><%= @atlas.title %></h5>
        <p class="overlay-item"><%= pluralize(@atlas.pages.length, 'page') %></p>
      </div>

      <% if Providers.derive(@atlas.provider) === 'openstreetmap'  %>
      <div class="map-overlay top-right">
        <%= form_for @atlas, url: compose_path(:select), method: :put do |f| %>
          <%= f.hidden_field :north, :value=> @atlas.north %>
          <%= f.hidden_field :south, :value=> @atlas.south %>
          <%= f.hidden_field :east, :value=> @atlas.east %>
          <%= f.hidden_field :west, :value=> @atlas.west %>
          <%= f.hidden_field :zoom, :value=> @atlas.zoom %>
          <%= f.hidden_field :rows, :value=> @atlas.get_rows %>
          <%= f.hidden_field :cols, :value=> @atlas.get_cols %>
          <%= f.hidden_field :orientation, :value=> @atlas.orientation %>
          <%= f.hidden_field :provider, :value=> @atlas.provider %>
          <%= f.hidden_field :title, :value=> @atlas.title %>
          <%= f.hidden_field :text, :value=> @atlas.text %>
          <%= f.hidden_field :private, :value=> @atlas.private %>
          <%= f.hidden_field :refreshed_from, :value=> @atlas.id %>
          <%= f.button _("Refresh") %>
        <% end %>

      </div>
      <% end %>

      <div class="map-overlay bottom-right">
        <%= form_for @atlas, url: compose_path(:select), method: :put do |f| %>
          <%= f.hidden_field :north, :value=> @atlas.north %>
          <%= f.hidden_field :south, :value=> @atlas.south %>
          <%= f.hidden_field :east, :value=> @atlas.east %>
          <%= f.hidden_field :west, :value=> @atlas.west %>
          <%= f.hidden_field :zoom, :value=> @atlas.zoom %>
          <%= f.hidden_field :rows, :value=> @atlas.get_rows %>
          <%= f.hidden_field :cols, :value=> @atlas.get_cols %>
          <%= f.hidden_field :orientation, :value=> @atlas.orientation %>
          <%= f.hidden_field :provider, :value=> @atlas.provider %>
          <%= f.hidden_field :title, :value=> @atlas.title %>
          <%= f.hidden_field :text, :value=> @atlas.text %>
          <%= f.hidden_field :private, :value=> @atlas.private %>
          <%= f.hidden_field :cloned_from, :value=> @atlas.id %>
          <%= f.button _("Copy this atlas") %>
        <% end %>

        <% if @atlas.pdf_url %>
          <a href="<%= @atlas.pdf_url %>" class="button"><%= _("Download PDF") %></a>
        <% else %>

        <% end %>
      </div>

      <div id="map" class="detail"></div>
    </div>
  </div>

  <div class="row">
    <%= render partial: "atlas_activity", locals: {atlas: @atlas} %>
  </div>

  <% content_for :foot do %>
  <script>
    $(function(){
      var providerObject = <%= Providers.get_layer_from_url(@atlas.get_provider_without_overlay).to_json.html_safe %>;
      var atlasProvider = "<%= @atlas.get_provider_without_overlay %>";
      var bbox = <%= @atlas.bbox %>;
      var pages = <%= @atlas.pages.to_json.html_safe %>;

      FP.map.locator('locator-map', {
        bbox: bbox,
        provider: atlasProvider,
        showMarker: true,
        zoom: 3
      });

      FP.map.atlas('map',{
        bbox: bbox,
        providerSettings: providerObject,
        provider: atlasProvider,
        pages: pages
      });
    });
  </script>
  <% end %>

<% end %> <!-- end atlas block -->
