<div class="row pad-bottom">
    <div id="atlas-locator-map" class="twelve columns"></div>
    <div class="twelve columns relative">

      <div class="atlas-map-overlay top-left stacked">
        <h5 class="overlay-item"><%= @atlas.title %></h5>
        <p class="overlay-item"><%= pluralize(@atlas.pages.length, 'page') %></p>
      </div>

      <% if Providers.derive(@atlas.provider) === 'openstreetmap'  %>
      <div class="atlas-map-overlay top-right">
        <%= form_for @atlas, url: compose_path(:select), method: :put do |f| %>
          <%= f.hidden_field :north, :value=> @atlas.north %>
          <%= f.hidden_field :south, :value=> @atlas.south %>
          <%= f.hidden_field :east, :value=> @atlas.east %>
          <%= f.hidden_field :west, :value=> @atlas.west %>
          <%= f.hidden_field :zoom, :value=> @atlas.zoom %>
          <%= f.hidden_field :rows, :value=> @atlas.get_rows %>
          <%= f.hidden_field :cols, :value=> @atlas.get_cols %>
          <%= f.hidden_field :orientation, :value=> @atlas.orientation %>
          <%= f.hidden_field :provider, :value=> @atlas.provider %>
          <%= f.hidden_field :title, :value=> @atlas.title %>
          <%= f.hidden_field :text, :value=> @atlas.text %>
          <%= f.hidden_field :private, :value=> @atlas.private %>
          <%= f.hidden_field :refreshed_from, :value=> @atlas.id %>
          <%= f.button _("Refresh") %>
        <% end %>

      </div>
      <% end %>

      <div class="atlas-map-overlay bottom-right">
        <%= form_for @atlas, url: compose_path(:select), method: :put do |f| %>
          <%= f.hidden_field :north, :value=> @atlas.north %>
          <%= f.hidden_field :south, :value=> @atlas.south %>
          <%= f.hidden_field :east, :value=> @atlas.east %>
          <%= f.hidden_field :west, :value=> @atlas.west %>
          <%= f.hidden_field :zoom, :value=> @atlas.zoom %>
          <%= f.hidden_field :rows, :value=> @atlas.get_rows %>
          <%= f.hidden_field :cols, :value=> @atlas.get_cols %>
          <%= f.hidden_field :orientation, :value=> @atlas.orientation %>
          <%= f.hidden_field :provider, :value=> @atlas.provider %>
          <%= f.hidden_field :title, :value=> @atlas.title %>
          <%= f.hidden_field :text, :value=> @atlas.text %>
          <%= f.hidden_field :private, :value=> @atlas.private %>
          <%= f.hidden_field :cloned_from, :value=> @atlas.id %>
          <%= f.button _("Copy this atlas") %>
        <% end %>

        <% if @atlas.pdf_url %><a href="<%= @atlas.pdf_url %>" class="button"><%= _("Download PDF") %></a><% end %>
      </div>

      <div id="atlas-map"></div>
    </div>
</div>

<div class="row">
    <div class="eight columns atlases-activity">
      <h4><%= _("Activity") %></h4>
      <ul class="pad-bottom">
        <li>
          <p><%= @atlas.creator_name %> made this atlas <%= link_to _("%{time_period} ago") % { time_period: time_ago_in_words(@atlas.created_at) }, atlases_path(month: @atlas.created_at.strftime("%Y-%m")) %></p>
          <p class="details"><%= pluralize(@atlas.pages.length, 'page') %> + <%= Providers.derive(@atlas.provider) %> + <%= @atlas.orientation %> + <%= @atlas.layout %></p>
        </li>
        <% if @atlas.refreshed_from  %>
          <li>This atlas is a <i>refresh</i> of <%= link_to(@atlas.refreshed_from, atlas_path(@atlas.refreshed_from)) %> </li>
        <% end %>
        <% if @atlas.cloned_from  %>
          <li>This atlas is a <i>copy</i> of <%= link_to(@atlas.cloned_from, atlas_path(@atlas.cloned_from)) %> </li>
        <% end %>
        <% if !@atlas.snapshots.empty? %>
          <%= render partial: "atlas_snapshot", collection: @atlas.snapshots %>
        <% end %>
      </ul>


    </div>

    <div class="four columns">
      <div class="u-pull-right no-wrap options-list">
        <h6 class="options-list-title"><%= _("Export Data") %></h6>
        <ul>
          <li><a href="<%= atlas_path(format: :geojson) %>"><%= _("GeoJSON") %></a></li>
          <li><a href="<%= atlas_path(format: :csv) %>"><%= _("Plain Text (CSV)") %></a></li>
          <li><a href="#"><%= _("ShapeFile") %></a></li> <!-- http://fieldpapers.org/activity.php?print=ndx9fx4v&type=shp -->
        </ul>

        <h6 class="options-list-title"><%= _("Edit in...") %></h6>
        <ul>
          <li><a href=<%= iDLink(@atlas.slug, @atlas.zoom, @atlas.longitude, @atlas.latitude) %> target="_blank"><%= _("iD") %></a></li>
          <li><a href=<%= potlatchLink(@atlas.slug, @atlas.zoom, @atlas.longitude, @atlas.latitude) %> target="_blank"><%= _("Potlatch") %></a></li>
        </ul>
      </div>
    </div>
</div>

<% content_for :foot do %>
  <script>
    $(function(){
      var providerObject = <%= Providers.get_layer_from_url(@atlas.get_provider_without_overlay).to_json.html_safe %>;
      var atlasProvider = "<%= @atlas.get_provider_without_overlay %>";
      var bbox = <%= @atlas.bbox %>;
      var pages = <%= @atlas.pages.to_json.html_safe %>;

      FP.map.locator('atlas-locator-map', {
        bbox: bbox,
        provider: atlasProvider,
        showMarker: true,
        zoom: 5
      });

      FP.map.atlas('atlas-map',{
        bbox: bbox,
        providerSettings: providerObject,
        provider: atlasProvider,
        pages: pages
      });
    });
  </script>
<% end %>
