<div id="footer" class="row align-center">
  <div class="twelve columns">
    <%= _("%{FieldPapers} is built by %{StamenDesign}") % { FieldPapers: content_tag(:b, link_to(_("Field Papers"), "http://fieldpapers.org/")), StamenDesign: link_to(_("Stamen Design"), "http://www.stamen.com/") } %>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="#"><%= _("About the Project") %></a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="#">Metrics</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="http://wiki.openstreetmap.org/wiki/Field_Papers" title="<%= _("Check out the OSM help wiki.") %>"><%= _("Help") %></a>
    <br>
    <small><%= _("Map data %{OSMCopyright}, %{Toner} by Stamen, %{Bing} by Microsoft, %{Mapbox}, or a combination thereof.") % { OSMCopyright: link_to(_("&copy; OpenStreetMap contributors"), "http://www.openstreetmap.org/copyright"), Toner: link_to(_("Toner"), "http://maps.stamen.com/toner/"), Bing: link_to(_("Bing"), "http://www.bing.com/maps/"), Mapbox: link_to(_("Mapbox"), "https://www.mapbox.com") } %></small>
  </div>
</div>
