<!-- Static navbar -->
<div id="nav">
    <div class="row">
        <div class="logo twelve columns">
            <a href="<%= root_path %>"><img src="/assets/logo-header.png" alt="Field Papers" height="58" width="200"></a>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <button id="nav-toggle">Menu</button>
            <ul class="navbar u-cf">
                <li class="nav-item">
                    <a href="#">
                        <div class="section">MAKE</div>
                        <div class="desc">an atlas to print</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="section">UPLOAD</div>
                        <div class="desc">pages you've marked</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= atlases_path %>">
                        <div class="section">WATCH</div>
                        <div class="desc">recent activity</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= advanced_path %>">
                        <div class="section">EXTEND</div>
                        <div class="desc">with advanced tools</div>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="section"><%= user_signed_in? && link_to("Log out", destroy_user_session_path, method: :delete) || link_to("Log in", new_user_session_path) %></div>
                    <% unless user_signed_in? %>
                    <div class="desc"><%= link_to "Sign up", new_user_registration_path %></div>
                </li>
                <!--
                {if $request.authenticated}
                  <li class="nav-item">
                        <div class="section"><a href="{$base_dir}/atlases.php?user={$request.user.id}">{$request.user.name}</a></div>
                        <form id='logout_form' name='logout_form' method='POST' action='{$base_dir}/login.php'>
                            <a href="#" onClick="document.logout_form.submit();"><div class="desc">log out</div></a>
                            <input type='hidden' name='action' value='log out'>
                            <input type='hidden' name='redirect' value="{$base_dir}/">
                        </form>
                    </li>
                {else}
                    <li class="nav-item">
                        <div class="section"><%= user_signed_in? && link_to("Log out", destroy_user_session_path, method: :delete) || link_to("Log in", new_user_session_path) %></div>
                        <% unless user_signed_in? %>
                        <div class="desc"><%= link_to "Sign up", new_user_registration_path %></div>
                    </li>
                {/if}
                -->
            </ul>
        </div>
    </div>
</div>
<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><img src="/assets/logo-header.png" alt="Field Papers"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Make</a></li>
        <li><a href="#">Upload</a></li>
        <li><%= link_to "Watch", atlases_path %></li>
        <li><%= link_to "Extend", advanced_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= user_signed_in? && link_to("Log out", destroy_user_session_path, method: :delete) || link_to("Log in", new_user_session_path) %></li>
        <% unless user_signed_in? %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
    <!--
  </div><!--/.container-fluid -->
  <!--
</nav>
-->
