<!-- Static navbar -->
<div id="nav">
    <div class="row">
        <div class="logo twelve columns">
            <a href="<%= root_path %>"><img src="/assets/logo-header.png" alt="Field Papers" height="58" width="200"></a>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <button id="nav-toggle">Menu</button>
            <ul class="navbar u-cf">

                <li class="nav-item<% if controller_name.to_s() == 'compose' %> active<% end %>">
                    <a href="<%= compose_path(:search) %>">
                        <div class="section">MAKE</div>
                        <div class="desc">an atlas to print</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="section">UPLOAD</div>
                        <div class="desc">pages you've marked</div>
                    </a>
                </li>
                <li class="nav-item<% if controller_name.to_s() == 'atlases' || controller_name.to_s() == 'snapshots' %> active<% end %>">
                    <a href="<%= atlases_path %>">
                        <div class="section">WATCH</div>
                        <div class="desc">recent activity</div>
                    </a>
                </li>
                <li class="nav-item<% if controller_name.to_s() == 'home' && action_name.to_s() == 'advanced' %> active<% end %>">
                    <a href="<%= advanced_path %>">
                        <div class="section">EXTEND</div>
                        <div class="desc">with advanced tools</div>
                    </a>
                </li>
                <li class="nav-item<% if controller_name.to_s() == 'sessions' %> active<% end %>">
                    <div class="section"><%= user_signed_in? && link_to("LOG OUT", destroy_user_session_path, method: :delete) || link_to("LOG IN", new_user_session_path) %></div>
                    <% unless user_signed_in? %>
                    <div class="desc"><%= link_to "or create an account", new_user_registration_path %></div>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</div>
