<div class="row">
    <h2 class="twelve columns"><%= _("Welcome to Field Papers") %></h2>
</div>

<div class="row cards">
    <div class="four columns card">
        <a class="card-image" data-no-turbolink="true" href="<%= compose_path %>"><img src="<%= asset_path 'atlases-large.gif' %>" alt="<%= _("Hand-drawn graphic to represent making a Field Papers atlas") %>"></a>
        <div class="card-details">
            <h5 class="card-title" data-no-turbolink="true"><%= link_to _("Make yourself an atlas"), compose_path %></h5>
            <p class="card-desc"><%= _("Print out anywhere in the world.") %></p>
        </div>
    </div>

    <div class="four columns card">
        <a class="card-image" data-no-turbolink="true" href="<%= compose_path %>"><img src="<%= asset_path 'field-large.gif' %>" alt="<%= _("Hand-drawn graphic representing a Field Papers atlas in the wild") %>"></a>
        <div class="card-details">
            <h5 class="card-title" data-no-turbolink="true"><%= link_to _("Take it into the field"), compose_path %></h5>
            <p class="card-desc"><%= _("Make your notes and observations.") %></p>
        </div>
    </div>

    <div class="four columns card">
        <a class="card-image" href="<%= new_snapshot_path %>"><img src="<%= asset_path 'snapshots-large.gif' %>" alt="<%= _("Hand-drawn graphic representing photographing a page in a Field Papers atlas") %>"></a>
        <div class="card-details">
            <h5 class="card-title"><%= link_to _("Capture your notes"), new_snapshot_path %></a></h5>
            <p class="card-desc"><%= _("%{Upload} pages you've photographed.") % {Upload: content_tag(:b, link_to(_("Upload"), new_snapshot_path)) } %></p>
        </div>
    </div>
</div>
