<div class="row">
  <div class="twelve columns">
    <h2><%= _("Making Canned Atlases") %></h2>

    <p><%= _("It’s easy to create “canned” Field Papers atlases by providing extra details up-front that are used as default values throughout the <a href=\"%s\">Make</a> process.") % compose_path %></p>
    <p><%= _("Each setting below can be posted via plain HTML form to <a href=\"%s\">fieldpapers.org</a>. <i>All are optional.</i>") % compose_path %></p>

    <%= form_tag compose_path, method: :get do %>
      <div class="row">
        <div class="twelve columns">
          <label for="atlas_title"><%= _("Atlas title") %></label>
          <%= text_field_tag :atlas_title, nil, placeholder: _("Atlas title"), size: "40" %>
        </div>

        <div class="twelve columns">
          <label for="atlas_text"><%= _("Atlas text") %></label>
          <%= text_area_tag :atlas_text, nil, placeholder: _("Atlas description"), rows: "4", cols: "40" %>
        </div>

        <div class="twelve columns">
          <label for="atlas_location"><%= _("Atlas location") %></label>
          <p class="form-help"><%= _("Latitude, longitude, and optional zoom. Use <a href=\"http://dbsgeo.com/latlon/\">dbsgeo.com/latlon/</a> to make new ones.") %></p>
          <%= text_field_tag :atlas_location, nil, placeholder: _("Location and zoom"), size: "40" %>
          <div class="form-example">
            <p class="title"><%= _("Examples:") %></p>
            <ul>
              <li><samp>37.8045, -122.2712 15</samp></li>
              <li><samp>37.8045 -122.2712, 15</samp></li>
              <li><samp>37.8045,-122.2712</samp></li>
              <li><samp>37.8045 -122.2712</samp></li>
            </ul>
          </div>
        </div>

        <div class="twelve columns">
          <label for="atlas_provider"><%= _("Atlas provider") %></label>
          <%= text_field_tag :atlas_provider, nil, placeholder: _("Tile URL template"), size: "40" %>
          <div class="form-example">
            <p class="title"><%= _("Examples:") %></p>
            <ul>
              <li><samp>http://tile.stamen.com/toner-lite/{Z}/{X}/{Y}.png</samp> (<a href="http://tile.stamen.com/toner-lite/12/656/1582.png">Black &amp; White</a>)</li>
              <li><samp>http://tile.stamen.com/boner/{Z}/{X}/{Y}.jpg</samp> (<a href="http://tile.stamen.com/boner/12/656/1582.jpg">Satellite + Labels</a>)</li>
              <li><samp>http://tile.openstreetmap.org/{Z}/{X}/{Y}.png</samp> (<a href="http://tile.openstreetmap.org/12/656/1582.png">OpenStreetMap</a>)</li>
              <li><samp>http://tile.stamen.com/bing-lite/{Z}/{X}/{Y}.jpg</samp> (<a href="http://tile.stamen.com/bing-lite/12/656/1582.jpg">Satellite Only</a>)</li>
            </ul>
          </div>
        </div>
        <p><%= button_tag _("Submit") %></p>
      </div>
    <% end %>
  </div>
</div>
