<% content_for :title, _("Atlas page - Field Papers") %>

<% if !defined? @page.atlas.id %>
  <p class="alert">No atlas</p>
<% elsif @atlas.incomplete? %>
  <%= render partial: "atlases/atlas_incomplete", locals: {atlas: @page.atlas} %>
<% elsif @atlas.failed?%>
  <%= render partial: "atlases/atlas_failed", locals: {atlas: @page.atlas} %>
<% else %>
  <div class="row pad-bottom">
      <div id="locator-map" class="twelve columns"></div>
      <div class="twelve columns relative">

        <div class="map-overlay top-left stacked">
          <h5 class="overlay-item"> <%= _("From") %> <%= link_to @page.atlas.title, atlas_path(@page.atlas) %><% if @page.atlas.private? %><span class="private"><%= _("private") %></span><% end %></h5>
          <p class="overlay-item page-number"><%=h @page.page_number %></p>
        </div>

        <div class="map-overlay bottom-right">
          <%= form_for @page.atlas, url: compose_path, method: :put do |f| %>
            <%= f.hidden_field :north, :value=> @page.atlas.north %>
            <%= f.hidden_field :south, :value=> @page.atlas.south %>
            <%= f.hidden_field :east, :value=> @page.atlas.east %>
            <%= f.hidden_field :west, :value=> @page.atlas.west %>
            <%= f.hidden_field :zoom, :value=> @page.atlas.zoom %>
            <%= f.hidden_field :rows, :value=> @page.atlas.get_rows %>
            <%= f.hidden_field :cols, :value=> @page.atlas.get_cols %>
            <%= f.hidden_field :orientation, :value=> @page.atlas.orientation %>
            <%= f.hidden_field :provider, :value=> @page.atlas.provider %>
            <%= f.hidden_field :title, :value=> @page.atlas.title %>
            <%= f.hidden_field :text, :value=> @page.atlas.text %>
            <%= f.hidden_field :private, :value=> @page.atlas.private %>
            <%= f.hidden_field :cloned_from, :value=> @page.atlas.id %>
            <%= f.button _("Copy this atlas") %>
          <% end %>

          <% if @page.atlas.pdf_url %><a href="<%= @page.atlas.pdf_url %>" class="button"><%= _("Download PDF") %></a><% end %>
        </div>

        <div id="map" class="page-view"></div>
      </div>
  </div>

  <div class="row">
    <%= render partial: "atlases/atlas_activity", locals: {atlas: @page.atlas} %>
  </div>


  <% content_for :foot do %>
    <script>
      $(function(){
        var providerObject = <%= Providers.get_layer_from_url(@page.atlas.get_provider_without_overlay).to_json.html_safe %>;
        var atlasProvider = "<%= @page.atlas.get_provider_without_overlay %>";
        var bbox = <%= @page.bbox %>;
        var pages = [<%= @page.to_json.html_safe %>];

        FP.map.locator('locator-map', {
          bbox: bbox,
          provider: atlasProvider,
          showMarker: true,
          zoom: 3
        });

        FP.map.atlas('map',{
          bbox: bbox,
          providerSettings: providerObject,
          provider: atlasProvider,
          pages: pages,
          isPageView: true
        });
      });
    </script>
  <% end %>
<% end %>
