<li class="map-card">
  <%= link_to snapshot_path(snapshot), {:class=>"map-card-preview"} do %>
    <% if defined? snapshot.base_url and snapshot.base_url %>
      <%= image_tag (snapshot.base_url + "/preview.jpg") %>
    <% else %>
      <%= image_tag 'http://placehold.it/300x300&text=No%20Image' %>
    <% end %>
  <% end %>

  <div class="no-wrap">
    <%= link_to snapshot.title, snapshot_path(snapshot), {:class=>"map-card-title embolden"} %>
    <span class="map-card-creator small"><%= snapshot.uploader_name %></span>
  </div>

  <div>
    <span class="map-card-created small"><%= link_to _("%{time_period} ago") % { time_period: time_ago_in_words(snapshot.created_at) }, snapshots_path(month: snapshot.created_at.strftime("%Y-%m")) %></span>
  </div>
</li>
