<p><%= link_to "Atlases", atlases_path %> | Snapshots</p>

<%= paginate @snapshots %>

<ul>
<% @snapshots.each do |snapshot| %>
<li><%= link_to snapshot.title, snapshot_path(snapshot) %> <%= snapshot.uploader_name %> <%= time_ago_in_words(snapshot.created_at) %> ago</li>
<% end %>
</ul>

<%= paginate @snapshots %>
