<% content_for :title, _("Snapshots - Field Papers") %>

<div class="row">
  <div class="twelve columns map-container">
    <p class="inline-linkbar">
      <%= link_to _("Atlases"), atlases_path(username: params[:username]) %> | <%= n_("%{count} Snapshot", "%{count} Snapshots", @counts) % { count: number_with_delimiter(@counts) } %>
      <%= link_to(
        params[:username] ? _("All Snapshots") : _("Your Snapshots"),
        snapshots_path(params[:username] ? nil : {username: current_user.try(:username)}),
        class: "right" 
      ) %>
    </p>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <% if @snapshots.empty? %>
    <p class="alert"><%= _("No snapshots.") %></p>
    <% else %>
    <%= paginate @snapshots %>
  </div>
</div>

<ul class="map-cards row">
  <%= render partial: "snapshot", collection: @snapshots %>
</ul>

<div class="row">
  <div class="twelve columns">
    <%= paginate @snapshots %>
  </div>
</div>

<% end %>
