<% content_for :title, _("Snapshot upload - Field Papers") %>

<div class="row">
  <div class="twelve columns">
    <h2 class="status-text default"><%= _("Upload") %></h2>
    <h2 class="status-text uploading"><%= _("Uploading") %></h2>
    <h2 class="status-text error"><%= _("Upload Failed") %></h2>
    <p class=""><%= _("Choose an atlas page to upload. We'll work out where it goes (using the QR code).") %></p>
  </div>
  <div class="twelve columns">
    <p class="status-text error msg"><%= _("Something went wrong! Please review the <strong>rules</strong> below and try again.") %></p>

    <%= form_for @snapshot, url: snapshots_path, html: { multipart: true } do |f| %>
      <%= f.file_field :scene %><br>
      <%= f.submit "Upload" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h4><%= _("Rules") %></h4>
    <ul class="indent">
      <li><%= _("Make sure the scan/photo/image is at least 200dpi.") %></li>
      <li><%= _("Make sure you're uploading a JPG, PNG, TIF, or GIF. (PDFs won't work.)") %></li>
      <li><%= _("Don't upload things that aren't Field Papers maps, please.") %></li>
    </ul>
  </div>
</div>
