<% content_for :title, _("Snapshot - Field Papers") %>

<% if @snapshot.incomplete? %>
  <%= render partial: "incomplete", locals: { snapshot: @snapshot } %>
<% elsif @snapshot.failed? %>
  <%= render partial: "failed", locals: { snapshot: @snapshot } %>
<% else %>
<div class="row pad-bottom">
<% if @snapshot.atlas %>
  <div id="locator-map" class="twelve columns"></div>
<% end %>
  <div class="twelve columns relative">
    <div class="map-overlay top-left stacked">
<% if @snapshot.atlas %>
      <h5 class="overlay-item"><%= link_to(@snapshot.atlas.title, atlas_path(@snapshot.atlas.slug)) %></h5>
      <p class="overlay-item">Page <%= @snapshot.page.page_number %> (of <%= @snapshot.atlas.pages.size %>)</p>
<% else %>
      <h5 class="overlay-item">Unknown</h5>
<% end %>
    </div>

    <div class="map-overlay bottom-right">
      <a href="<%= @snapshot.base_url %>" class="button"><%= _("Download GeoTIFF") %></a>
    </div>

    <div id="map"></div>
  </div>
</div>

<div class="row">
  <div class="eleven columns">
    <div class="u-pull-right no-wrap options-list">
      <h6 class="options-list-title">Edit in...</h6>
      <ul>
        <li><a href=<%= id_link(@snapshot.zoom, @snapshot.longitude, @snapshot.latitude, @snapshot.slug) %> target="_blank"><%= _("iD") %></a></li>
        <li><a href=<%= potlatch_link(@snapshot.zoom, @snapshot.longitude, @snapshot.latitude, @snapshot.slug) %> target="_blank"><%= _("Potlatch") %></a></li>
      </ul>
    </div>
  </div>

</div>

<% content_for :foot do %>
  <script>
    $(function(){

      FP.map.locator("locator-map", {
        bbox: <%= @snapshot.atlas.bbox %>,
        provider: "<%= @snapshot.atlas.get_provider_without_overlay %>",
        showMarker: true,
        zoom: 3
      });

      FP.map.snapshot("map", "<%= tilejson_url(@snapshot) %>");

    });
  </script>
<% end %>
<% end %>
