<% content_for :title, _("Snapshot - Field Papers") %>

<% if @snapshot.incomplete? %>
  <%= render partial: "incomplete", locals: { snapshot: @snapshot } %>
<% elsif @snapshot.failed? %>
  <%= render partial: "failed", locals: { snapshot: @snapshot } %>
<% else %>
<div class="row pad-bottom">
<% if @snapshot.bbox && @snapshot.provider %>
  <div id="locator-map" class="twelve columns"></div>
<% end %>
  <div class="twelve columns relative">
    <div class="map-overlay top-left stacked">
<% if @snapshot.atlas %>
      <h5 class="overlay-item"><%= link_to(@snapshot.atlas.title, atlas_path(@snapshot.atlas.slug)) %><% if @snapshot.private? %><span class="private"><%= _("private") %></span><% end %></h5>
      <p class="overlay-item">Page <%= @snapshot.page.page_number %> (of <%= @snapshot.atlas.pages.size %>)</p>
<% else %>
      <h5 class="overlay-item">Unknown<% if @snapshot.private? %><span class="private">private</span><% end %></h5>
<% end %>
    </div>

    <div class="map-overlay bottom-right">
      <a href="<%= @snapshot.geotiff_url %>" class="button"><%= _("Download GeoTIFF") %></a>
    </div>

    <div id="map" class="detail"></div>
  </div>
</div>

<div class="row">
  <div class="eleven columns">
    <div class="u-pull-right no-wrap options-list">
      <h6 class="options-list-title">Edit in...</h6>
      <ul>
        <li><a href=<%= id_link(@snapshot.zoom, @snapshot.longitude, @snapshot.latitude, @snapshot.slug) %> target="_blank"><%= _("iD") %></a></li>
        <li><a href=<%= potlatch_link(@snapshot.zoom, @snapshot.longitude, @snapshot.latitude, @snapshot.slug) %> target="_blank"><%= _("Potlatch") %></a></li>
        <li><a id='josm_link' <%= josm_link(@snapshot.zoom, @snapshot.longitude, @snapshot.latitude, @snapshot.north, @snapshot.south, @snapshot.east, @snapshot.west, @snapshot.provider, @snapshot.slug) %> href="#"><%= _("JOSM") %></a></li>
      </ul>
    </div>
  </div>

</div>

<% content_for :foot do %>
  <script>
    $(function(){

    <% if @snapshot.bbox && @snapshot.provider %>
      FP.map.locator("locator-map", {
        bbox: <%= @snapshot.bbox %>,
        provider: "<%= @snapshot.provider %>",
        showMarker: true,
        zoom: 3
      });
    <% end %>

      FP.map.snapshot("map", "<%= tilejson_url(@snapshot) %>");
      FP.setUpJOSMClickHandler("<%= escape_javascript(_('Could not connect to JOSM. Make sure JOSM is running and that the Remote Control functionality is enabled in Preferences.')) %>");

    });
  </script>
<% end %>
<% end %>
