<% content_for :title, _("Snapshot - Field Papers") %>

<div class="row pad-bottom">
  <div class="twelve columns relative">
    <div id="map" style="width: 100%; height: 500px;"></div>
  </div>
</div>

<div class="row">
  <div class="eight columns atlases-activity">
    <h5><%= link_to(@snapshot.atlas.title, atlas_path(@snapshot.atlas.slug)) %></h5>
    <p>Page <%= @snapshot.page.page_number %> of <%= @snapshot.atlas.pages.size %></p>
  </div>

  <div class="four columns">
    <div class="u-pull-right no-wrap options-list">
      <h6 class="options-list-title">Edit in...</h6>
      <ul>
        <li><a href=<%= iDLink(@snapshot.slug, @snapshot.atlas.zoom, @snapshot.atlas.longitude, @snapshot.atlas.latitude) %> target="_blank"><%= _("iD") %></a></li>
        <li><a href=<%= potlatchLink(@snapshot.slug, @snapshot.atlas.zoom, @snapshot.atlas.longitude, @snapshot.atlas.latitude) %> target="_blank"><%= _("Potlatch") %></a></li>
      </ul>
    </div>
  </div>

</div>

<% content_for :foot do %>
  <script>
    $(function(){

      FP.map.snapshot('map',{
        bbox: <%= @snapshot.bbox %>,
        base_url: "http://fieldpapers-tiler.herokuapp.com/snapshots/<%= @snapshot.slug %>",
        min_zoom: <%= @snapshot.min_zoom %>,
        max_zoom: <%= @snapshot.max_zoom %>,
      });

    });
  </script>
<% end %>