<% content_for :title, _("Snapshot - Field Papers") %>

<% if @snapshot.incomplete? %>
  <%= render partial: "incomplete", locals: { snapshot: @snapshot } %>
<% elsif @snapshot.failed? %>
  <%= render partial: "failed", locals: { snapshot: @snapshot } %>
<% else %>
<div class="row pad-bottom">
  <div class="twelve columns relative">
    <div id="map" style="width: 100%; height: 500px;"></div>
  </div>
</div>

<div class="row">
  <div class="eight columns atlases-activity">
<% if @snapshot.atlas %>
    <h5><%= link_to(@snapshot.atlas.title, atlas_path(@snapshot.atlas.slug)) %></h5>
    <p>Page <%= @snapshot.page.page_number %> of <%= @snapshot.atlas.pages.size %></p>
<% else %>
    <h5>Unknown</h5>
<% end %>
  </div>

  <div class="four columns">
    <div class="u-pull-right no-wrap options-list">
      <h6 class="options-list-title">Edit in...</h6>
      <ul>
        <li><a href=<%= iDLink(@snapshot.slug, @snapshot.zoom, @snapshot.longitude, @snapshot.latitude) %> target="_blank"><%= _("iD") %></a></li>
        <li><a href=<%= potlatchLink(@snapshot.slug, @snapshot.zoom, @snapshot.longitude, @snapshot.latitude) %> target="_blank"><%= _("Potlatch") %></a></li>
      </ul>
    </div>
  </div>

</div>

<% content_for :foot do %>
  <script>
    $(function(){

      FP.map.snapshot('map',{
        bbox: <%= @snapshot.bbox %>,
        base_url: "http://localhost:8080/snapshots/<%= @snapshot.slug %>",
        // TODO these are placeholder values; this should pull from TileJSON instead
        min_zoom: <%= @snapshot.zoom - 3 %>,
        max_zoom: <%= @snapshot.zoom + 1 %>,
      });

    });
  </script>
<% end %>
<% end %>
