<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Field Papers</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<%= render partial: "shared/navbar" %>

<p class="notice<% if notice %> active<% end %>"><%= notice %></p>
<p class="alert<% if alert %> active<% end %>"><%= alert %></p>

<%= yield %>

<%= render partial: "shared/footer" %>

</div>

<!-- load Javascript at bottom -->
<%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
