<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= _("Field Papers") %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- load Javascript at bottom -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<div class="container">
<div class="row development-message">
  <div class="twelve columns">
    <span>Alpha Release!</span>
    <span>Snapshot processing is incomplete and temporarily disabled. Data may be deleted at any time. Please use <%= link_to "the current site", "http://fieldpapers.org/" %> for real work.</span>
    <span><a href="https://github.com/fieldpapers/fieldpapers/issues">File/track issues on GitHub</a>, <a href="https://www.transifex.com/projects/p/fieldpapers/">add/improve translations on Transifex</a>.</span>
  </div>

</div>
<%= render partial: "shared/navbar" %>
<% if notice || alert %>
<div class="row">
  <div class="twelve columns">
    <p class="notice<% if notice %> active<% end %>"><%= notice %></p>
    <p class="alert<% if alert %> active<% end %>"><%= alert %></p>
  </div>
</div>
<% end %>

<%= yield %>

<%= render partial: "shared/footer" %>

</div>

<%= yield :foot %>

</body>
</html>
