<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= _("Field Papers") %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<div class="container">

<%= render partial: "shared/navbar" %>

<div class="row">
  <div class="twelve columns">
    <p class="notice<% if notice %> active<% end %>"><%= notice %></p>
    <p class="alert<% if alert %> active<% end %>"><%= alert %></p>
  </div>
</div>

<%= yield %>

<%= render partial: "shared/footer" %>

</div>

<!-- load Javascript at bottom -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= yield :foot %>

</body>
</html>
