<!DOCTYPE html>
<html>
<head>
  <% if Rails.env.production? %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1WRXKXEEKN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-1WRXKXEEKN');
    </script>
  <% end %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title).presence || _("Field Papers") %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
</head>
<body class="big-map" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <div class="big-map-container">
    <%= yield %>
  </div>

  <%= yield :foot %>

</body>
</html>
